<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShopEase</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
</head>
<body>
  
  {{#unless orderPlaced}}
    <header>
      {{#if admin}}
        {{> admin-header}}  
      {{else}}
        {{> user-header}}   
      {{/if}}
    </header>
  {{/unless}}


  {{{body}}}


   {{#unless orderPlaced}}
   <footer>
   {{#if admin}}
    {{> admin-footer}}
   {{else}}
     {{> user-footer}} 
  {{/if}}
  </footer>
   {{/unless}}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="/javascripts/script.js"></script>
</body>
</html>
<style>
  .no-items {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
</style>
